[submodule "backend"]
	path = backend
	url = https://github.com/2023-techeer-ideathon-team-9/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/2023-techeer-ideathon-team-9/frontend.git